[submodule "Social-site-Api"]
	path = Social-site-Api
	url = git@github.com:Tolujana/Social-site-Api.git
[submodule "Messenger"]
	path = Messenger
	url = ./Messenger
[submodule "Social-site-messenger"]
	path = Social-site-messenger
	url = git@github.com:Tolujana/Social-site-messenger.git
